.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

main {
	display: block;
	margin-top: 75px;;
}
.section-title {
	text-align: center;
	padding-bottom: 30px;
}

.section-title h2 {
	font-size: 25px;
	font-weight: bold;
	color: #00A4CC;
	text-transform: uppercase;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
}

.section-title h2::after {
	content: "";
	position: absolute;
	display: block;
	width: 53px;
	height: 5px;
	background: #00A4CC;
	bottom: 0;
	left: calc(50% - 29px);
}


.servicePanel{
	width: 100%;
	background-color: rgba(0, 0, 0, 0.8) !important;
	overflow: hidden;
	position: relative;
  
  }
  
  .servicePanel-container-right {
	display: flex;
	align-items: flex-end;
	vertical-align: middle;
	position: absolute;
	left:60%;
	bottom: 40%;
	
  }
  .servicePanel-container-left {
	display: flex;
	align-items: flex-end;
	justify-content: left;
	vertical-align: middle;
	position: absolute;
	bottom: 40%;
  
  }
  .servicePanel-content {
	background: rgba(4, 4, 44, 0.7) !important;
	padding: 20px;
	color: #fff;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	border-radius: 30px;
  
  }
  
  .servicePanel-content h2 {
	color: #fff;
	margin-bottom: 10px;
	font-size: 26px;
	font-weight: 700;
  }
  
  .servicePanel-content span {
	color: orange;
	font-size: 20px;
	font-weight: 400;
  }

  .quotation-btn {
	margin-top: 27px;
  }
  
  @media only screen and (max-width: 376px) {
	.quotation-btn {
		margin-top: 20px;
    	margin-right: 60px;
	  } 
  }
  
  @media only screen and (max-width: 426px) {
  
  
  .servicePanel{
	width: 100%;
	overflow: hidden;
	position: relative;
	background: transparent !important;
  
  }
  
  .servicePanel-container-right {
	display: flex;
	align-items: flex-end;
	justify-content: center;
  
	vertical-align: middle;
	position: inherit;
  
	
  }
  .servicePanel-container-left {
	  display: flex;
	align-items: flex-end;
	justify-content: center;
  
	vertical-align: middle;
	position: inherit;
  
  
  }
  .servicePanel-content {
	padding: 20px;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	background: transparent !important;
  
  }
  
  .servicePanel-content h2 {
	color: rgb(5, 5, 5);
	margin-bottom: 10px;
	font-size: 25px;
	font-weight: 700;
  }

  .servicePanel-content span {
	color: #000;
	font-size: 14px;
	font-weight: 400;
  }

  .quotation-btn {
	margin-top: 20px;
	margin-right: 104px;
  } 
  }
  @media screen and (min-width: 768px){
  
  .servicePanel-container-right {
	display: flex;
	align-items: flex-end;
	vertical-align: middle;
	position: absolute;
	left:55%;
	bottom: 40%;
	
  }
  
  .servicePanel-content {
	background: rgba(4, 4, 44, 0.7) !important;
	margin-right: 42px;
	padding: 20px 15px;
	color: #fff;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	border-radius: 20px;
  
  }
  
  }
  
  @media screen and (min-width: 1440px){
	  .servicePanel-content {
	  background: rgba(4, 4, 44, 0.7) !important;
	  margin-right: 75px;
	  padding: 20px 15px;
	  color: #fff;
	  -webkit-animation-duration: 0.5s;
	  animation-duration: 0.5s;
	  border-radius: 20px;
  }
  }



.technology-title {
	text-align: center;
	padding-bottom: 30px;
}

.technology-title h2 {
	font-size: 25px;
	font-weight: bold;
	color: #00A4CC;
	text-transform: uppercase;
	margin-bottom: 20px;
	margin-top: 82px;
	padding-bottom: 20px;
	position: relative;
}

.technology-title h2::after {
	content: "";
	position: absolute;
	display: block;
	width: 67px;
	height: 5px;
	background: #00A4CC;
	bottom: 0;
	left: calc(50% - 36px);
}

.technology-icons {
	display: flex;
	justify-content: center;
	align-items: center;
    flex-wrap: wrap;
}

.technology-icons .technology-icon {
	background-color: #eeeeee;
    width: 150px;
    height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
    margin: 20px;
	box-shadow: 1px 6px 20px 10px rgb(0 0 0 / 10%);
	border-radius: 180px;
}

.technology-icons .technology-icon:hover img {
    filter: none;
    transform: scale(1.3);
}

.technology-icons .technology-icon img {
    transition: all 0.3s ease-in-out;
}


